body {
    font-size: 14px;
    font-family: 'Noto Serif';
    line-height: 23px;
    
}
#container-top{
    height: 100px;
    background-color: #fff;
}
div#hear-left {
    width: 290px;
    text-align: left;
    float: left;
   
}

p.title_left {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    color: blue;
    line-height: 90px;
    /* margin-left: 18px; */
}

a.logo.fl-left {
    margin-right: 44px;
}

p.title_right {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 600;
    color: red;
    line-height: 90px;
}
#container-bot{
    position: relative;
}
#container-bot img{
    width: 100%;
    height: 620px;

}
#form_login {
    position: absolute;
    width: 30%;
    height: 458px;
    background: white;
    top: 20%;
    right: 7%;
}

#form_login #username, #form_login #password ,#form_login #fullname, #form_login #email  {
    display: block;
    padding: 6px 10px;
    width: 90%;
    background: #f7f7f7;
    border: 1px solid #ccc;
    margin: 43px 12px;
}
#form_login  h2 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 19px 132px;
}
#form_login #btn-login{
    
        margin-left: 53px;
        display: block;
        width: 91%;
        background: #029ef3;
        border: none;
        color: #ffff;
        padding: 10px 0px;
        margin: 15px 10px 10px;
}
#form_login a.forgot_pass {
    margin-left: 17px;
    margin-right: 202px;
    text-transform: uppercase;
    font-size: 15px;
    color: black;
    font-weight: 600;
}a.dangky{

    text-transform: uppercase;
    font-size: 15px;
    color: black;
    font-weight: 600;

}